* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/*----- header starts----- */

/* Nav start */
header {
  width: 100%;
  background-color: #fff4e7;
  margin-bottom: 85px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  align-items: center;
  padding-top: 50px;
  margin: 0 auto;
}
.logo {
  font-weight: 700;
  font-size: 45px;
}
.nav-menu {
  display: flex;
  column-gap: 27px;
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  transition: 0.3s;
  cursor: pointer;
}
.nav-opt {
  transition: 0.3s;
  cursor: pointer;
}
.nav-opt:hover {
  border-bottom: 1px solid rgb(38, 31, 31);
}
/* nav end  */

/* banner info and image start  */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
  text-align: center;
  margin-bottom: 30px;
}

.header-desc {
  text-align: center;
  width: 60%;
  font-weight: 400;
  font-size: 16px;
  color: #424242;
  margin-bottom: 30px;
}

.pri-button {
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 18px;
  color: #ffff;
  background-color: #ff900e;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
}
.pri-button:hover {
  position: relative;
  background-color: #ffff;
  color: #ff900e;
  border: 1px solid #ff900e;
}
.header-img {
  margin-top: 50px;
  width: 1440px;
  height: 700px;
  padding-bottom: 50px;
}
/* header End  */

/* main start */
.our-features {
    display: flex;
    justify-content: center;
    gap: 73px;
    width: 1440px;
    margin: 0 auto;
   align-items: center;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
}

.fe-title{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 25px;
}
.ash{
    color: #727272;
}
.orange{
    color: #ff900e;
}
.desc{
color: #424242;
font-size: 16px;
font-weight: 400;
margin-bottom: 30px;
}
.fe-btn{
    width:120px ;
    text-align: center;
}